/* @import  '~bootstrap/dist/css/bootstrap.min.css' */
.textHandle{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.check{
    display: flex;
    flex-direction: row;
    margin:10px;
}